USE [master]
GO
/****** Object:  Database [springdemo]    Script Date: 2017/12/13 20:19:33 ******/
CREATE DATABASE [springdemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'springdemo', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\springdemo.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'springdemo_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\springdemo_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [springdemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [springdemo]
GO
/****** Object:  User [sam]    Script Date: 2017/12/13 20:19:33 ******/
CREATE USER [sam] FOR LOGIN [sam] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [springdemo]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 2017/12/13 20:19:34 ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[blog]    Script Date: 2017/12/13 20:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[content] [varchar](255) NULL,
	[user_id] [int] NOT NULL,
	[pub_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 2017/12/13 20:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nickname] [varchar](45) NOT NULL,
	[password] [varchar](45) NOT NULL,
	[first_name] [varchar](45) NULL,
	[last_name] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK6dthhdqikchaongkif1qfcbwf] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK6dthhdqikchaongkif1qfcbwf]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FKt6oldoue22w80yt4del1vaahv] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FKt6oldoue22w80yt4del1vaahv]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [user_id]
GO
USE [master]
GO
